
@{
    ViewBag.Title = "Index";
}

<div style="margin-top: 20px;">
    <img src="~/Images/no_image.jpg" width="250px" height="250px" id="UserImage">
</div>

<style>
    #UserImage{
        border-radius:50%;
        border-style: solid;
        border-width: 1px;
        border-color: gray;
    }
</style>