@{
    ViewBag.Title = "Пдтвердження електронної пошти";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Дякуємо за підтвердження вашої електронної пошти . Будь-ласка перейдіть на @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
